<ion-header>
  <ion-navbar>
    <ion-title *ngIf="auth.getEmail()">
      <h1>IronMan News</h1>
    </ion-title>
    <ion-buttons end [hidden]="isOnline">
      <button ion-button icon-only (click)="goToLogin()">
        <ion-icon name="log-in"></ion-icon> Login
      </button>
    </ion-buttons>

    <ion-buttons end [hidden]="!isOnline">
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon> Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-list ion-item *ngFor="let item of items | async" (click)="itemSelected(item)">
    {{ item.city }}
  </ion-list>

  <ion-card>
    <ion-card-content (click)="addEvent()">
      <h1 text-center>
        <strong>Ajouter une course</strong>
      </h1>
    </ion-card-content>
  </ion-card>

  <h2>Partagez vos meilleurs souvenir avec IronMan ! <ion-icon name="camera"></ion-icon></h2>
  <button ion-button full (click)="takePhoto()" >
    <ion-icon name="camera"></ion-icon>&nbsp; Prendre une photo
  </button>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list col-6 *ngFor="let photo of photos; let id = index">
    <ion-item-sliding>
      <ion-item>
        <ion-card class="block">
          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deletePhoto(id)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
