<ion-header>
  <ion-navbar>
    <ion-title *ngIf="auth.getEmail()">
      <h1>IronMan News</h1>
    </ion-title>
    <ion-buttons end [hidden]="isOnline">
      <button ion-button icon-only (click)="goToLogin()">
        <ion-icon name="log-in"></ion-icon> Login
      </button>
    </ion-buttons>

    <ion-buttons end [hidden]="!isOnline">
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon> Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-list ion-item *ngFor="let item of items | async" (click)="itemSelected(item)">
    {{ item.city }}
  </ion-list>

  <ion-card>
    <ion-card-content (click)="addEvent()">
      <h1 text-center>
        <strong>Ajouter une course</strong>
      </h1>
    </ion-card-content>
  </ion-card>

  <h2>Partagez vos meilleurs souvenir avec IronMan ! <ion-icon name="camera"></ion-icon></h2>
  <ion-item>
    <ion-row>
      <ion-col width-50>
        <button ion-button color="danger" type="button" full round large (click)="takePhoto()">
          <ion-icon name="md-camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button color="secondary" type="button" full round large (click)="selectPhoto()">
          <ion-icon name="md-image"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let item of assetCollection; let id = index">
        <ion-card class="block">
          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="item.URL" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
